/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-may-2015, 9:01:04
    Author     : MARCO
*/
body {
    background: rgba(0,0,0,0.2);
    font-family: Arial;
}
#leteral{
    width: 20%;
}
#noPrint{
    width: 0%;
    height: 0%;
    background: white;
    margin: auto;
    margin-bottom: 1%;
    padding: 2%;
}
#hoja{
    background: white;
    width: 80%;
    height: 80%;
    margin: 10px auto;
    padding: 2%;
}
#form{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-top: 1%
}
