/* Copyright (c) 2014 Himanshu Softtech.
------------------------------------------------------------------
[Table of contents]

1. Body
2. Pre loader / #preloader 
3. Color picker / #style-switcher
4. Header / #hs_header
5. Logo / #hs_logo
6. Navigation / #hs_header .hs_menu
7. Responsive navigation / .hs_nav_toggle
8. Social icon / .hs_social
9. Slider / .hs_slider_controler
10. Pager / .hs_pager ul 
11. Page title / .hs_page_title
12. Service / .hs_service
13. Appointment / .hs_appointment_form_div
14. Up coming events / .up_coming_events
15. Our doctor team slider / #our_doctor_team_slider
16. Happy patients / .happy_patients
17. Our partners / .our_partners 
18. How we are / .hs_how_we_are img 
19. Health care team / #health_care_team_slider 
20. Testimonial / .testimonial , #patients_testimonials_slider
21. Related post / .releted_post
22. Portfolio / .hs_portfolio
23. Single profile / .hs_single_profile
24. Post / .post_by 
25. Blog categorie / .hs_blog_categorie_pager
26. Sidebar / .hs_sidebar
27. Comment form / .hs_comment_form
28. Content / .hs_contact_head_text 
29. Footer / #hs_footer
30. @media css
-------------------------------------------------------------------*/

/*********Body start ************/
body {
	margin: 0
}
/*********Body end ************/
::selection {
	color: #fff;
	background: #ed1d1d;
}
::-moz-selection {
color:#fff;
background:#ed1d1d;
}
.foo {
	text-rendering: optimizeSpeed;
}
#err {
	margin: 0 auto;
	padding-left: 15px;
	float: left;
	width: 100%;
}
/*******loder css start********/
#preloader {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
}
#status {
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	left: 50%;
	top: 50%;
	position: absolute;
	width: 36px;
	margin: -18px 0 0 -18px;
}
/*******loader css end*******/
.hs_search_box {
	width: 100%;
	float: left;
	margin: 0px auto;
	margin-top: -20px;
	margin-bottom: 20px;
	display: none;
	position: absolute;
	top: 45px;
}
.hs_search_box > form > div {
	width: 100%;
	margin-bottom: 0px;
}
.hs_search_box > form > div > input {
	width: 100% !important;
	border-radius: 0px;
	padding: 10px;
	font-size: 16px;
}
.hs_search_box > form > div > span {
	position: absolute;
	top: 4px !important;
	font-size: 20px;
	right: 8px !important;
}
/********colorpicker css start *********/
#style-switcher {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
	left: -160px;
	position: fixed;
	top: 25%;
	width: 160px;
	z-index: 99999;
}
#style-switcher div {
	padding: 5px 9px;
	float: left;
}
ul.colors {
	list-style: none outside none;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
ul.colors li {
	float: left;
	margin: 2px;
}
ul.colors li #color {
	background: #2a73d4;
}
ul.colors li #color2 {
	background: #00AAB5;
}
ul.colors li #color3 {
	background: #E54242;
}
ul.colors li #color4 {
	background: #2ECC71;
}
ul.colors li #color5 {
	background: #FF9845;
}
ul.colors li #style {
	background: #ed1d1d;
}
ul.colors li p {
	cursor: pointer;
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 0px;
}
#style-switcher .bottom {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #252525;
	padding: 0;
}
#style-switcher .bottom a.settings {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
	display: block;
	height: 41px;
	position: absolute;
	right: -40px;
	bottom: 0;
	width: 40px;
	padding: 6px;
	font-family: sosa;
	line-height: 40px;
	color: #000;
}
#style-switcher .bottom a.settings i {
	color: #ed1d1d;
	font-size: 30px;
}
#style-switcher .bottom a.settings:hover {
	text-decoration: none;
}
#style-switcher > div > h3 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 400;
	text-align: left;
	color: #ed1d1d !important;
}
#style-switcher > div > select {
	width: 90%;
}
.slider_option > p > a > img {
	color: inherit;
	padding-right: 5px;
}
.slider_option > p > a:hover {
	color: inherit;
}
ul.pattern {
	list-style: none outside none;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
ul.pattern li {
	float: left;
	margin: 2px;
}
ul.pattern li p {
	cursor: pointer;
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 0px;
}
ul.pattern li #pattern {
	background: url(../images/patern/canvas-orange.html);
}
ul.pattern li #pattern1 {
	background: url(../images/patern/chalkboard.html);
}
ul.pattern li #pattern2 {
	background: url(../images/patern/ocean.html);
}
ul.pattern li #pattern3 {
	background: url(../images/patern/shattered-island.html);
}
ul.pattern li #style {
	background: #008363;
}
/********colrpicker css end *********/
/******************header start*******************/
#hs_header {
	background: rgb(224, 20, 27);
	width: 100%;
	-webkit-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	-moz-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	box-shadow: 0 1px 10px rgba(0,1,1,.2);
	position: relative;
}
#hs_header.fixed {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 500 !important;
}
#hs_header.fixed #hs_header-top {
	display: none;
}
#hs_header #hs_header-top {
	color: #fff;
	line-height: 40px;
	font-size: 12px;
}
#hs_header #hs_header-top a {
	line-height: 40px;
	display: inline-block;
	margin: 0;
}
#hs_header #hs_header-top .hs_header-text a {
	color: #e6e9ed;
}
#hs_header #hs_header-top .hs_header-text a:hover {
	color: #fff;
}
#hs_header #hs_header-top .social-media {
	float: right;
	margin: 0;
	height: 40px;
}
#hs_header #hs_header-top .social-media li {
	display: inline-block;
	margin-left: 8px;
}
#hs_header #hs_header-top .social-media li a {
	color: #fff;
	font-size: 13px;
}
/**************logo start**********************/
#hs_header #hs_logo {
	margin: 27px 0;
	cursor: pointer;
}
#hs_header #hs_logo a img {
	width: 100%;
}
#hs_header.fixed #hs_logo {
	margin: 15px 0;
}
/**************logo end**********************/
#hs_header a {
	display: inline-block;
	line-height: 20px;
}
/**************menu start**********************/
#hs_header nav {
	width: 100%;
	text-align: center;
	display: inline-block;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
}
#hs_header .hs_menu {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
#hs_header .hs_menu > li {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
#hs_header .hs_menu > li:last-child {
	margin-right: 0;
}
#hs_header .hs_menu li > a {
	margin: 27px 0px 27px 0px;
	padding: 7px 10px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,1,1,.2);
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	z-index: 1;
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}
#hs_header.fixed .hs_menu li > a {
	margin: 15px 0px 15px 0px;
}
#hs_header.fixed .hs_social ul {
	margin: 17px auto;
}
#hs_header .hs_menu li > ul li a {
	color: #727278 !important;
}
#hs_header .hs_menu li:hover {
	background: #FFF;
}
#hs_header .hs_menu li:hover a {
	color: #ed1d1d;
	-webkit-transition-duration: 0.01s;
	-moz-transition-duration: 0.01s;
	-o-transition-duration: 0.01s;
	-ms-transition-duration: 0.01s;
	transition-duration: 0.01s;
}
#hs_header .hs_menu li > ul {
	list-style: none;
	position: absolute;
	padding-left: 0px;
	text-align: left;
	top: 100%;
	left: 0;
	z-index: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	visibility: hidden;
	opacity: 0;
	border-top-width: 4px;
	background: #ed1d1d;
}
#hs_header .hs_menu li > ul:before,
#hs_header .hs_menu li > ul:after {
	content: '';
	position: absolute;
	bottom: 100%;
}
#hs_header .hs_menu li > ul:before {
}
#hs_header .hs_menu li > ul:after {
	left: 17px;
	margin-top: 2px;
}
#hs_header .hs_menu li > ul li {
	position: relative;
	padding-bottom: 3px;
	border-bottom: 1px solid #e2e2e2;
}
#hs_header .hs_menu li > ul li:hover {
	background: #f4f4f4;
}
#hs_header .hs_menu li > ul li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#hs_header .hs_menu li > ul li > ul {
	position: absolute;
	left: 100%;
	top: 0;
	margin-top: 0;
}
#hs_header .hs_menu li > ul li > ul:before,
#hs_header .hs_menu li > ul li > ul:after {
	content: '';
	position: absolute;
	left: 0px;
}
#hs_header .hs_menu li > ul li > ul:before {
	top: 15px;
	border-width: 0 16px 16px 0;
}
#hs_header .hs_menu li > ul li > ul:after {
	top: 15px;
	margin-left: 4px;
}
#hs_header .hs_menu li > ul li a {
	width: 200px;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	border-radius: 4px;
	border: none;
	padding: 8px 15px;
}
#hs_header .hs_menu li > ul li a.active,
#hs_header .hs_menu li > ul li:hover > a {
	color: #ed1d1d !important;
	border: none;
}
/* hover states */
#hs_header .hs_menu li:hover > ul {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
	background: #fff;
	padding-left: 0px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}
#hs_header .hs_menu li > ul li:hover > ul {
	margin-left: 0px;
	margin-top: 0;
}
#hs_header #searchform .form-group {
	margin: 19.5px 0;
}
#hs_header.fixed #searchform .form-group {
	margin: 9.5px 0;
}
/* responsive hs_menu */
.hs_nav_toggle {
	width: 100%;
	float: left;
	text-align: left;
	background: #ed1d1d !important;
	color: #fff;
	padding: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.hs_nav_toggle > i {
	font-size: 19px;
	float: right;
}
#hs_header .hs_menu li > ul > li > ul > li:first-child.fa-chevron-right:before {
	position: absolute;
	top: 10px;
	left: -20px;
	color: #ed1d1d;
}
/**************menu end**********************/

/**************social start**********************/
.hs_social {
	float: left;
	width: 100%;
}
.hs_social ul {
	list-style: none;
	padding-left: 0px;
	margin: 27px auto;
}
.hs_social ul li {
	display: inline-block;
}
.hs_social ul li a {
	padding: 6px 10px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.hs_social ul li a:hover {
	border: 1px solid #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.hs_social ul li a i {
	min-width: 14px;
	opacity: 0.7;
}
.hs_social ul li a:hover i {
	opacity: 1;
}
/********social end************/	
/******************header end*******************/	

/******************Slider Start*******************/	
.hs_slider_controler {
	width: 100%;
	float: left;
	height: 53px;
	position: relative;
	border: 1px solid #CCC;
	background-image: url(../images/icon/center_line.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.hs_slider_title {
	font-size: 33px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px rgba(0,1,1,.2);
}
.hs_slider_button {
	border-color: #fff;
	color: #fff;
	margin-right: 15px;
}
/******************Slider End*******************/	
/***************other css start****************/
.hs_margin_30 {
	margin-bottom: 30px;
}
.hs_margin_40 {
	margin-bottom: 40px;
}
.hs_margin_60 {
	margin-bottom: 60px;
}
.hs_heading {
	color: #ed1d1d;
	margin: 30px auto;
	padding-bottom: 15px;
	border-bottom-width: 50%;
	position: relative;
}
.hs_heading:before {
	content : "";
	position: absolute;
	left : 0;
	bottom : 0;
	height : 2px;
	width : 65px;
	border-bottom: 2px solid #7f9aa0;
}
.hs_contact_heading {
	color: #ed1d1d;
	margin: 30px auto;
	padding-bottom: 15px;
	display: inline-block;
	border-bottom-width: 50%;
	position: relative;
}
.hs_contact_heading:before {
	content : "";
	position: absolute;
	left : 50%;
	margin-left: -25%;
	bottom : 0;
	height : 2px;
	width : 65px;
	border-bottom: 2px solid #7f9aa0;
}
.hs_theme_color {
	color: #ed1d1d;
}
.btn_prev {
	padding: 5px 10px 5px 10px;
	color: #7f9aa0;
	border: solid 1px #7f9aa0;
	cursor: pointer;
}
.btn_next {
	padding: 5px 10px 5px 10px;
	color: #7f9aa0;
	border: solid 1px #7f9aa0;
	cursor: pointer;
}
/***************other css end****************/

/*********************** pager start*************/
.hs_pager ul {
	list-style: none;
	padding-left: 0px;
}
.hs_pager ul li {
	display: inline-block;
}
.hs_pager ul li a {
	padding: 5px 12px;
	color: #7f9aa0;
	border: 1px solid #7f9aa0;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_pager ul li a:hover {
	color: #ed1d1d;
	border: 1px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/*********************** pager end*************/

/*********************** page title start*************/
.hs_page_title {
	width: 100%;
	float: left;
	padding: 20px 0px;
	background: #ed1d1d;
	color: #fff;
}
.hs_page_title h3 {
	color: inherit;
	margin: 0px auto;
	text-transform: uppercase;
	float: left;
}
.hs_page_title ul {
	float: right;
	padding-left: 0px;
	list-style: none;
}
.hs_page_title ul li {
	display: inline;
	padding: 0px;
	margin: 0px;
}
.hs_page_title ul li a {
	color: inherit;
	padding: 3px 10px;
	position: relative;
	text-transform: uppercase;
}
.hs_page_title ul li a:hover {
	color: rgba(255,255,255,0.5);
}
.hs_page_title ul li a:before {
	content : "";
	position: absolute;
	right : 0;
	bottom : 2px;
	height : 70%;
	width : 0px;
	border-right: 2px solid #fff;
}
.hs_page_title ul li:last-child a:before {
	border-right: none;
}
/*********************** page title end*************/
/******************** services start*********************/
.hs_service {
	width: 100%;
	float: left;
	margin: 30px auto;
	border-bottom: 2px solid #7f9aa0;
	margin-bottom: 20px;
	padding: 30px 20px 30px 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.hs_service .hs_icon_svg {
	text-align: center;
}
.hs_service svg {
	fill: #7f9aa0;
}
.hs_service a {
	margin: 20px auto;
}
.hs_service:hover {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.hs_service:hover h4 {
	color: #ed1d1d;
}
.hs_service:hover svg {
	fill: #ed1d1d;
}
/******************** services end*********************/
/******************** tab start ***********************/
.hs_tab {
	margin-bottom: 30px;
}
/******************** tab end ***********************/


/******************** Appointment Form start ***********************/
.hs_appointment_form_div {
	width: 100%;
	float: left;
	position: relative;
	border-bottom: 2px solid #ed1d1d;
}
.hs_appointment_form_div > img {
	width: 100%;
}
.hs_appointment_form_div > .hs_appointment_form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(60%, rgba(245,245,245,0.77)), color-stop(71%, rgba(245,245,245,0)), color-stop(100%, rgba(245,245,245,0)));
	background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
}
.hs_appointment_form_div > .hs_appointment_form form {
	margin: 30px 15px 30px 15px;
}
.hs_appointment_form_div > .hs_appointment_form button {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
}
/******************** Appointment Form end ***********************/

/******************** Up Coming Events start ***********************/
.up_coming_events {
	background-image: url(../images/bg/upcomming_event.png);
	background-repeat: repeat-x;
	background-position: 0px 33px;
	background-size: 100% 2px;
	width: 100%;
	float: left;
}
.up_coming_events_slider_item {
	text-align: center;
	margin: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_event_date {
	background: #7f9aa0;
	text-align: center;
	display: inline-block;
	width: 47px;
	height: 47px;
	color: #FFF;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_event_date:before {
	content : "";
	position: absolute;
	left : 50%;
	bottom : 0;
	top : 100%;
	margin-left: -2px;
	height : 28px;
	width : 2px;
	border-left: 2px dashed #7f9aa0;
}
.hs_event_date h3 {
	color: #FFF;
	margin: 0px auto;
	margin-bottom: 0px;
}
.hs_event_div {
	margin: 28px auto;
	padding: 40px 0 40px 0;
	width: 100%;
	float: left;
	text-align: left;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_event_div img {
	width: 100%;
}
.up_coming_events_slider_item:hover .hs_event_date {
	background: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.up_coming_events_slider_item:hover .hs_event_date:before {
	border-left: 2px dashed #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.up_coming_events_slider_item:hover .hs_event_div {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Up Coming Events end ***********************/

/******************** Our Doctor Team start ***********************/
#our_doctor_team_slider {
	margin-bottom: 15px;
}
.our_doctor_team_slider_item {
	margin: 10px;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_doctor_team_slider_item img {
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_doctor_team_slider_item .hs_team_member_detail {
	padding: 30px;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_doctor_team_slider_item .hs_team_member_detail h3 {
	margin: 0px auto;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_doctor_team_slider_item:hover .hs_team_member_detail h3 {
	color: #ed1d1d;
}
.our_doctor_team_slider_item:hover .hs_team_member_detail {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_doctor_team_slider_item:hover img {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	background: #ed1d1d;
}
/******************** Our Doctor Team end ***********************/

/******************** Happy Patients start ***********************/
.happy_patients {
	width: 100%;
	float: left;
}
.happy_patients_slider_item {
	text-align: center;
	width: 100%;
	float: left;
}
.hs_testimonial {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	margin-bottom: 28px;
	text-align: center;
}
.hs_testimonial ul {
	padding-left: 0px !important;
	width: 100% !important;
	float: left !important;
}
.bx-clone {
	display: block;
}
.hs_testimonial ul li {
	width: 100% !important;
	float: left !important;
}
.hs_testimonial p {
	font-style: italic;
	font-size: 16px;
}
.hs_testimonial p i {
	color: #ed1d1d;
}
.hs_testimonial_content {
	clear: both;
	padding-top: 50px;
	min-height: 150px;
	text-align: center;
}
#bx-pager {
	z-index: 999;
	margin: -30px auto;
	bottom: 0px;
	text-align: center;
}
#bx-pager a {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
}
#bx-pager a img {
	margin-right: 10px;
	border-bottom: 2px solid #7f9aa0;
}
#bx-pager a.active img {
	border-color: #ed1d1d;
}
#bx-pager a:hover img {
	border-color: #ed1d1d;
}
#bx-pager a .hs_testimonial_control_img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#bx-pager a.active .hs_testimonial_control_img {
	background-color: transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#bx-pager a:hover .hs_testimonial_control_img {
	background-color: transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Happy Patients end ***********************/

/******************** Meet Our Partners start ***********************/
.our_partners {
	width: 100%;
	float: left;
}
#our_partners_slider {
	margin-bottom: 20px;
}
.our_partners_slider_item {
	margin: 5px;
	text-align: center;
	padding: 60px 0 60px 0;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.our_partners_slider_item:hover {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Meet Our Partners end ***********************/
/******************** who we are start ***********************/
.hs_how_we_are img {
	width: 100%;
	min-height: 309px;
}
.hs_how_we_are {
	margin-bottom: 40px;
}
.hs_how_we_are > div > div {
	padding-left: 0px;
	padding-right: 0px;
}
.hs_how_we_are_text {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	padding: 30px;
	min-height: 309px;
}
.hs_how_we_are_text h4 {
	margin: 0px auto;
	color: #ed1d1d;
}
/******************** who we are end ***********************/


/******************** Health Care Team start ***********************/
#health_care_team_slider {
	margin-bottom: 15px;
}
.health_care_team_slider_item {
	margin: 10px;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_team_slider_item img {
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #bcbcbc;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_team_slider_item .hs_team_member_detail {
	padding: 30px 0px;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_team_slider_item .hs_team_member_detail h4 {
	margin: 0px auto;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_team_slider_item .hs_team_member_detail hr {
	height: 1px;
	background: #dddddd;
}
.health_care_team_slider_item .hs_team_member_detail p {
	padding-left: 15px;
	padding-right: 15px;
}
.health_care_team_slider_item:hover .hs_team_member_detail h4 {
	color: #ed1d1d;
}
.health_care_team_slider_item:hover .hs_team_member_detail {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_team_slider_item:hover img {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	background: #ed1d1d;
}
/******************** Health Care Team end ***********************/


/******************** Our Hospital Updates start ***********************/
.panel-title > a > i {
	top: 0;
	margin-top: -4px;
	left: 0;
	position: absolute;
	padding: 5px;
	font-size: 16px !important;
	border: 1px solid #FFF;
}
.panel-body img {
	margin-right: 15px;
	border-left: 2px solid rgba(255,255,255,0);
	padding-left: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.panel-body .hs_hospital_update:hover img {
	border-left: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Our Hospital Updates end ***********************/


/******************** Testimonials start ***********************/
.testimonial {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	margin-bottom: 28px;
	text-align: center;
}
.testimonial ul {
	padding-left: 0px !important;
	width: 100% !important;
	float: left !important;
}
.bx-clone {
	display: block;
}
.testimonial ul li {
	width: 100% !important;
	float: left !important;
}
.testimonial p {
	font-style: italic;
	font-size: 13px;
}
.testimonial p i {
	color: #ed1d1d;
}
.testimonial_content {
	clear: both;
	padding-top: 40px;
	min-height: 140px;
	text-align: center;
}
.testimonial_content img {
	text-align: center;
	display: inline-block !important;
	border-radius: 50%;
	width: 62px;
	height: 62px;
}
/******************** Testimonials end ***********************/

/******************** Releted Post start ***********************/
.releted_post {
	width: 100%;
	float: left;
}
.related_post_date {
	width: 60px;
	height: 53px;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.related_post_date h3 {
	color: inherit;
	font-weight: bolder;
	margin-bottom: 0px;
	padding-top: 5px;
}
.related_post_date p {
	text-transform: uppercase;
}
.releted_post_slider_item {
	margin-bottom: 20px;
	padding-right: 10px;
}
.releted_post_slider_item img {
	width: 100%;
	margin: 20px auto;
	margin-bottom: 0px;
}
.releted_post_slider_item .releted_post_detail {
	padding: 20px;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.releted_post_slider_item .releted_post_detail h4 {
	margin: 0px auto;
	margin-bottom: 3px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.releted_post_slider_item:hover .releted_post_detail {
	background: #f9f9f9;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.releted_post_slider_item:hover .releted_post_detail h4 {
	color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.releted_post_slider_item:hover .related_post_date {
	background-color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Releted Post end ***********************/

/**************************************************Portfolio Start*******************************************/
.hs_portfolio {
}
.hs_portfolio ul {
	float: right;
	margin: 15px auto;
	padding: 0px;
}
.hs_portfolio ul li {
	float: left;
	list-style: none;
	padding: 15px 0px;
	min-height: 56px;
	position: relative;
}
.hs_portfolio ul li:before {
	content : " / ";
	position: absolute;
	right : 0;
	top: 12px;
	font-size: 20px;
	font-weight: 100;
}
.hs_portfolio ul li:last-child:before {
	content : "  ";
}
.hs_portfolio ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: inherit;
	padding: 0px 15px;
	text-decoration: none;
	padding-bottom: 3px;
}
.hs_portfolio ul li:last-child a {
	border-right: none;
}
.hs_portfolio ul li a:hover {
	border-bottom: 2px solid #fff;
}
.portfolio {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.portfolio li {
	float: left;
	list-style: none;
	max-width: 285px;
	width: 100%;
}
.portfolio-filter {
	list-style: none;
	padding-left: 0;
	margin-left: -30px;
}
.portfolio-filter li {
	display: inline-block;
}
.portfolio-filter li a {
	display: block;
	color: #868581;
	font-weight: 500;
	position: relative;
}
.portfolio-filter li a:hover,
.portfolio-filter li a.active {
	color: #008363;
	text-decoration: none;
}
.portfolio-filter li a:hover:before,
.portfolio-filter li a.active:before {
	color: #868581;
}
.portfolio-filter li a:before {
	margin-right: 20px;
	margin-left: 20px;
}
.portfolio-grid {
	margin-left: -15px !important;
	text-align: center;
}
.portfolio-grid .portfolio-item {
	position: relative;
	overflow: hidden;
	text-align: left;
}
.portfolio-grid .portfolio-item img {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.portfolio-grid .portfolio-item:hover img {
	background: #ed1d1d;
}
.portfolio-grid .portfolio-item h3 {
	border-bottom: 2px solid #7f9aa0;
	padding-bottom: 30px;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.portfolio-grid .portfolio-item:hover h3 {
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.portfolio-grid .portfolio-item .portfolio_doctor_details {
	padding: 20px;
	border-bottom: 2px solid #7f9aa0;
}
.portfolio-grid .portfolio-item:hover .portfolio_doctor_details {
	border-bottom: 2px solid #ed1d1d;
}
.portfolio-grid .portfolio-item .portfolio_doctor_details h4 {
	margin: 0px auto;
	margin-bottom: 15px;
}
.portfolio-grid .portfolio-item .portfolio_doctor_details p {
	margin-bottom: 20px;
}
.portfolio-grid .portfolio-item .portfolio_doctor_details a {
	margin: 15px auto;
}
.portfolio-grid .portfolio-item:hover .portfolio_doctor_details {
	background: #f5f5f5;
}
.portfolio-grid .portfolio-item:hover .portfolio_doctor_details h4 {
	color: #ed1d1d;
}
.hs_profile_social ul {
	list-style: none;
	padding-left: 0px;
}
.hs_profile_social ul li {
	display: inline-block;
}
.hs_profile_social ul li a {
	padding: 5px 7px;
	color: #7f9aa0;
	border: 1px solid #7f9aa0;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_profile_social ul li a i {
	min-width: 15px;
}
.hs_profile_social ul li:hover a {
	border-color: #ed1d1d;
	background: #ed1d1d;
	color: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.portfolio-details {
	position: absolute;
	text-align: left;
	padding: 20px 30px;
	width: 92.5%;
	background: #fff;
	opacity: 0.9;
	bottom: 10px !important;
	display: none;
	border-bottom: 2px solid #ed1d1d;
}
.portfolio-details > h4 {
	margin-right: auto;
	color: #ed1d1d;
	display: inline;
}
.portfolio-details > p {
	margin-top: 0px;
}
.portfolio-details.standard-version a {
	color: #31d385;
}
.portfolio-details2 {
	position: absolute;
	text-align: left;
	padding: 20px 30px;
	width: 94.9%;
	background: #fff;
	opacity: 0.9;
	bottom: 10px !important;
	display: none;
	border-bottom: 2px solid #ed1d1d;
}
.portfolio-details2 > h4 {
	margin-right: auto;
	color: #ed1d1d;
	display: inline;
}
.portfolio-details2 > p {
	margin-top: 0px;
}
.portfolio-details2.standard-version a {
	color: #31d385;
}
#grid .mix {
	opacity: 0;
	display: none;
	margin-bottom: 15px;
}
#grid .mix img {
	width: 100%;
}
/**************************************************Portfolio End*******************************************/


/**************************************************Profile single page End*******************************************/
.hs_single_profile {
	margin: 30px auto;
}
.hs_single_profile img {
	width: 100%;
}
.hs_single_profile .hs_single_profile_detail {
	background: #f5f5f5;
	padding: 20px;
	border-bottom: 2px solid #ed1d1d;
	margin-bottom: 20px;
}
.hs_single_profile .hs_single_profile_detail > div > div {
	padding: 15px;
	font-weight: bold;
	border-right: 1px solid #d1d1d1;
}
.hs_single_profile .hs_single_profile_detail > div > div:last-child {
	border-right: none;
}
.hs_single_profile .hs_single_profile_detail > div > div > i {
	margin-right: 20px;
}
.hs_single_profile .hs_single_profile_detail > div > div > a {
	margin-left: 20px;
	color: #ed1d1d;
}
.hs_single_profile .hs_single_profile_detail hr {
	background: #d1d1d1;
	height: 1px;
}
.hs_single_profile .hs_single_profile_detail > div > div > div {
	display: inline-block;
}
/**************************************************Profile single page End*******************************************/


/******************** Post By start ***********************/
.post_by {
	width: 100%;
	float: left;
}
.post_by_slider_item {
	margin-bottom: 20px;
	padding-right: 10px;
	text-align: center;
}
.post_by_slider_item img {
	width: 100%;
	margin: 20px auto;
	margin-bottom: 0px;
}
.post_by_slider_item .post_by_detail {
	padding: 23px;
	border-bottom: 2px solid #7f9aa0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.post_by_slider_item .post_by_detail h4 {
	margin: 0px auto;
	margin-bottom: 3px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.post_by_slider_item:hover .post_by_detail {
	background: #f9f9f9;
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.post_by_slider_item:hover .post_by_detail h4 {
	color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Post By end ***********************/

/******************** Blog Categories start ***********************/
.hs_blog_categorie_pager {
	list-style: none;
	padding-left: 0px;
	float: right;
	padding-top: 30px;
}
.hs_blog_categorie_pager li {
	display: inline-block;
	position: relative;
}
.hs_blog_categorie_pager li:before {
	content: " / ";
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 15px;
}
.hs_blog_categorie_pager li:last-child:before {
	content: " ";
}
.hs_blog_categorie_pager li a {
	padding: 0px 15px 0px 10px;
}
.hs_blog_categorie_pager li.active a {
	color: #ed1d1d;
}
.hs_blog_categorie img {
	width: 100%;
}
.hs_blog_categorie_detail {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	margin-bottom: 40px;
	float: left;
}
.hs_blog_categorie_detail hr {
	background: #d1d1d1;
	height: 1px;
}
.hs_blog_categorie_detail a h4 {
	padding-left: 20px;
	padding-right: 20px;
}
.hs_blog_categorie_detail p {
	padding-left: 20px;
	padding-right: 20px;
}
.hs_blog_categorie_detail > .btn {
	margin-right: 20px;
	margin-bottom: 20px;
}
.hs_blog_categorie_detail .hs_blog_categorie_date ul {
	list-style: none;
	padding-left: 0px;
	padding: 20px 0px 0px 0px;
}
.hs_blog_categorie_detail .hs_blog_categorie_date ul li {
	display: inline-block;
}
.hs_blog_categorie_detail .hs_blog_categorie_date ul li a {
	padding: 0px 20px;
	border-right: 1px solid #d1d1d1;
	margin-bottom: 20px !important;
}
.hs_blog_categorie_detail .hs_blog_categorie_date ul li:last-child a {
	border-right: none;
}
.hs_blog_categorie_detail .hs_blog_categorie_date ul li a i {
	padding-right: 10px;
}
/******************** Blog Categories end ***********************/

/******************** Side bar start ***********************/
.hs_sidebar {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.hs_sidebar h4 {
	margin: 0px;
	padding-top: 0px;
	margin-bottom: 20px;
}
.hs_sidebar_categories {
	border-bottom: 2px solid #7f9aa0;
}
.hs_sidebar_categories:hover {
	border-color: #ed1d1d;
}
.hs_sidebar_categories ul {
	list-style: none;
	padding-left: 0px;
}
.hs_sidebar_categories ul li {
	padding: 8px 0px;
}
.hs_sidebar_categories ul li a {
	cursor: pointer;
}
.hs_sidebar_categories ul li ul {
	padding-left: 20px;
	display: none;
}
.hs_resent_post {
	width: 100%;
	float: left;
	margin: 30px auto;
}
.hs_post_tab ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 14px;
}
.hs_post_tab ul li {
	display: inline-block;
	margin-right: -4px;
}
.hs_post_tab ul li a {
	padding: 15px 28px;
	background: #fcfcfc;
	color: inherit;
}
.hs_post_tab ul li a.active {
	background: #f5f5f5;
	color: #ed1d1d;
}
.hs_post_tab_content {
	background: #f5f5f5;
	margin: 9px auto;
	border-bottom: 2px solid #ed1d1d;
}
.hs_post_tab_content .hs_post {
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
	border-left: 2px solid rgba(255,255,255,0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_post_tab_content .hs_post:hover {
	border-left: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_post_tab_content .hs_post img {
	width: 67px;
	height: 67px;
	float: left;
	margin-right: 10px;
}
.hs_post_tab_content .hs_post a {
	color: inherit;
}
.hs_post_tab_content .hs_post p {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_post_tab_content .hs_post:hover p {
	color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_post_tab_content .hs_post:hover a p {
	color: inherit;
}
.health_care_advice {
	background: #f5f5f5;
	margin: 9px auto;
	border-bottom: 2px solid #ed1d1d;
}
.health_care_advice .hs_post {
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
	border-left: 2px solid rgba(255,255,255,0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_advice .hs_post h4 {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_advice .hs_post:hover h4 {
	color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_advice .hs_post:hover {
	border-left: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.health_care_advice .hs_post img {
	width: 67px;
	height: 67px;
	float: left;
	margin-right: 10px;
}
.health_care_advice .hs_post a {
	color: inherit;
}
.health_care_advice .hs_post:hover a p {
	color: inherit;
}
.hs_tags ul {
	list-style: none;
	padding-left: 0px;
}
.hs_tags ul li {
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 1px;
}
.hs_tags ul li a {
	padding: 8px 10px;
	background: #7f9aa0;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_tags ul li a:hover {
	background: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Side bar end ***********************/

/******************** Blog Single with right sidebar start ***********************/
.hs_blog_single img {
	width: 100%;
}
.hs_blog_single .hs_blog_categorie_detail {
	background-color: transparent;
	border-bottom: 2px solid #7f9aa0;
}
/******************** Blog Single with right sidebar end ***********************/


/******************** Comment form start ***********************/
.hs_comment_form {
	width: 100%;
	float: left;
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	padding: 20px;
	margin-bottom: 30px;
}
.hs_comment_form .input-group {
	margin-bottom: 20px;
}
.hs_comment_form button {
	padding: 10px 20px;
}
.hs_checkbox {
	background-image: url(../images/icon/vlad.png);
}
input[type=checkbox].css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 15px;
	display: inline-block;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left: 22px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
	background-position: 0 -20px;
}
.hs_comment_form textarea {
	margin: 30px auto;
	width: 100%;
	resize: none;
}
/******************** Comment form end ***********************/

/******************** Comment start ***********************/
.hs_comment {
	width: 100%;
	float: left;
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	padding: 20px;
}
.hs_comment img {
	width: 90px;
	height: 90px;
}
.hs_comment .hs_comment_date ul {
	list-style: none;
	padding-left: 0px;
}
.hs_comment .hs_comment_date ul li {
	display: inline-block;
}
.hs_comment .hs_comment_date ul li a {
	padding: 0px 20px;
	border-right: 1px solid #d1d1d1;
	margin-bottom: 20px !important;
}
.hs_comment .hs_comment_date ul li:last-child a {
	border-right: none;
}
.hs_comment .hs_comment_date ul li a i {
	padding-right: 10px;
}
.hs_comment p {
	padding-left: 20px;
}
.hs_comment a.hs_in_relpy {
	padding-left: 20px;
}
.hs_sub_comment_div > .hs_sub_comment {
	width: 100%;
	float: left;
	padding-top: 10px;
	position: relative;
}
.hs_sub_comment_div > .hs_sub_comment:before {
	content : "";
	position: absolute;
	left : 50px;
	bottom : 50%;
	height : 100%;
	width : 50%;
	border-left: 2px solid #ed1d1d;
	border-bottom: 1px solid #ed1d1d;
}
.hs_sub_comment_div > .hs_sub_comment:first-child:before {
	height : 50%;
}
/******************** Comment end ***********************/
/******************** Contact Start ***********************/
.hs_contact_head_text {
	width: 100%;
	float: left;
	text-align: center;
}
.hs_contact_head_text p {
	padding-left: 50px;
	padding-right: 50px;
}
.hs_contact {
	width: 100%;
	float: left;
	padding: 20px;
	border-bottom: 2px solid #7f9aa0;
	margin-bottom: 20px;
}
.hs_contact ul {
	list-style: none;
	padding-left: 0px;
}
.hs_contact ul li {
	border-bottom: 1px solid #dddddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
.hs_contact ul li:last-child {
	border-bottom: none;
}
.hs_contact ul li i {
	float: left;
	border: 1px solid #00996d;
	background: #ed1d1d;
	padding: 8px 10px;
	width: 50px;
	text-align: center;
	height: 46px;
	margin-right: 20px;
	color: #fff;
	font-size: 28px;
}
.hs_contact_social {
	background: #f5f5f5;
	border-bottom: 2px solid #ed1d1d;
	width: 100%;
	float: left;
	padding: 25px 20px 20px 20px;
}
.hs_contact_social > .hs_profile_social > ul > li {
	margin-right: 10px;
}
.hs_contact_social > .hs_profile_social > ul > li > a {
	padding: 11px 15px;
}
.hs_contact_social > .hs_profile_social > ul > li > a > i {
	font-size: 20px;
}
.hs_additional_support {
	width: 100%;
	float: left;
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #7f9aa0;
	margin-bottom: 60px;
	margin-top: 20px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_additional_support:hover h4 {
	color: #ed1d1d;
}
.hs_additional_support:hover {
	border-bottom-color: #ed1d1d;
	background: #f9f9f9;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/******************** Contact end ***********************/	

/******************** one page start ***********************/
#hc_single {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
div[data-target] {
	position: relative;
	overflow: hidden;
}
div[data-target] > div {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 64px;
	padding-bottom: 30px;
}
#hc_home > div {
	padding-top: 0px !important;
}
.hc_fixed_header {
	position: absolute !important;
	top: 80%;
	left: 0;
	z-index: 9999;
}
.hc_fixed_header .hs_menu li > a {
	margin: 17px 0px 15px 0px !important;
}
.hc_fixed_header #hs_logo {
	margin: 17px 0 !important;
}
.hc_fixed_header .hs_social ul {
	margin: 18px auto !important;
}
.hc_fixed_header .hs_search_box {
	margin-top: -31px !important;
}
.hc_contact_section {
	width: 100%;
	float: left;
}
/******************** one page start ***********************/

/******************icon page start*******************/
.hs_icon {
	margin-bottom: 40px;
}
.hs-icon-list {
	margin-top: 22px;
}
.hs-icon-list .fa-hover a {
	display: block;
	color: #222222;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	border-radius: 4px;
}
.hs-icon-list .fa-hover a .fa {
	width: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.hs-icon-list .fa-hover a:hover {
	background-color: #ed1d1d;
	color: #ffffff;
	text-decoration: none;
}
.hs-icon-list .fa-hover a:hover .fa {
	font-size: 28px;
	vertical-align: -6px;
}
.hs-icon-list .fa-hover a:hover .text-muted {
	color: #bbe2d5;
}
/******************icon page end*******************/

/******************** Patients Testimonials start ***********************/
#patients_testimonials_slider {
	margin-bottom: 15px;
}
#patients_testimonials_slider .patients_testimonials_slider_item {
	padding: 20px;
	margin: 5px;
	float: left;
	border-bottom: 2px solid #b6b6b6;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#patients_testimonials_slider .patients_testimonials_slider_item:hover {
	border-bottom: 2px solid #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#patients_testimonials_slider .patients_testimonials_slider_item h4 {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#patients_testimonials_slider .patients_testimonials_slider_item:hover h4 {
	color: #ed1d1d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#patients_testimonials_slider .patients_testimonials_slider_item img {
	margin-right: 15px;
}
/******************** Patients Testimonials end ***********************/

/******************** Footer start ***********************/
#hs_footer {
	width: 100%;
	float: left;
	color: #fff;
	background: #ed1d1d;
}
#hs_footer .hs_footer_content .hs_footer_menu {
	width: 100%;
	float: left;
}
#hs_footer .hs_footer_content .hs_footer_menu ul {
	list-style: none;
	padding-left: 0px;
	width: 100%;
	text-align: center;
}
#hs_footer .hs_footer_content .hs_footer_menu ul li {
	display: inline-block;
	margin-right: -2px;
	width: 16.2%;
}
#hs_footer .hs_footer_content .hs_footer_menu ul li a {
	padding: 15px 0px;
	width: 100%;
	text-align: center;
	display: inline-block;
	background: rgba(0,0,0,0.2);
	color: inherit;
}
#hs_footer .hs_footer_content .hs_footer_menu ul li a:hover {
	background: rgba(0,0,0,0.25);
	color: #fff;
}
#hs_footer .hs_footer_content h4 {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
}
#hs_footer .hs_footer_content h4::before {
	border-color: #fff;
}
.hs_about_us img {
	margin-bottom: 20px;
}
.hs_footer_about_us {
	width: 100%;
	float: left;
	padding: 10px 0px;
	position: relative;
}
.hs_footer_about_us:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%;
	margin-left: 15px;
	height: 1px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.hs_about_us p {
	padding: 10px 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
}
.hs_about_us p i {
	font-size: 22px;
	padding-right: 15px;
	float: left;
}
.hs_latest_post ul {
	list-style: none;
	padding-left: 0px;
}
.hs_latest_post ul li {
	width: 100%;
	float: left;
}
.hs_latest_post ul li img {
	width: 70px;
	height: 70px;
	margin-bottom: 20px;
	margin-right: 15px;
	float: left;
}
.hs_latest_post ul li h4 {
	margin-bottom: 0px;
	margin: 0px auto;
	text-transform: uppercase;
}
.hs_latest_post ul li p {
	margin-bottom: 0px;
}
.hs_latest_post ul li p.post_date {
	font-weight: bold;
	font-size: 12px;
}
.hs_twitter_widget ul {
	list-style: none;
	padding-left: 0px;
}
.hs_twitter_widget ul li {
	width: 100%;
}
.hs_twitter_widget ul li i {
	font-size: 25px;
	float: left;
	width: 10%;
	margin-bottom: 20px;
	margin-right: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_twitter_widget ul li:hover i {
	padding-left: 13px;
	padding-top: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.hs_twitter_widget ul li a {
	color: #fff;
	width: 80%;
	float: left;
}
.hs_twitter_widget ul li a p {
	background: rgba(0,0,0,0.2);
	padding: 20px 10px 20px 20px;
	position: relative;
}
.hs_twitter_widget ul li a p:after {
	border-right: 10px solid rgba(0,0,0,0.2);
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	top: 5px;
	left: -10px;
	content: '';
	position: absolute;
}
.hs_twitter_widget ul li a p:hover {
	background: rgba(0,0,0,.25);
}
.hs_twitter_widget ul li a p:hover:after {
	border-right: 10px solid rgba(0,0,0,.25);
}
.hs_copyright {
	text-transform: uppercase;
	background: rgb(224, 20, 27);
	color: #fff;
	float: left;
	width: 100%;
	text-align: center;
	padding: 15px;
	-webkit-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	-moz-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	box-shadow: 0 1px 10px rgba(0,1,1,.2);
}
.hs_contact_detail p i {
	font-size: 25px;
	float: left;
	width: 20px;
	height: 30px;
	display: inline-block;
	margin-right: 0px;
}
.hs_footer_link {
	float: left;
	margin-right: 45px;
	margin-bottom: 20px;
}
.hs_footer_link ul {
	list-style: none;
	padding-left: 0px;
}
.hs_footer_link ul li {
	margin-bottom: 5px;
}
.hs_footer_link ul li a {
	color: inherit;
}
.hs_footer_link ul li a:hover {
	text-decoration: underline;
}
/******************** footer end ***********************/
	
/* Large desktop */

 @media (min-width: 979px) and (max-width: 1200px) {
#hs_header .hs_menu li > a {
	margin: 19px 0px 19px 0px;
	padding: 7px 5px;
}
.hs_social ul li a {
	width: 28px;
	height: 28px;
}
.hs_social ul li a i {
	padding-top: 6px;
}
.hs_post_tab ul li a {
	padding: 15px 15px;
}
.hs_footer_link {
	margin-right: 35px;
}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#hs_header .hs_menu li > a {
	margin: 10px 0px 10px 0px;
}
#hs_footer .hs_footer_content .hs_footer_menu ul li {
	width: 16.5555%;
}
.hs_comment img {
	width: 70px;
	height: 70px;
}
.hs_post_tab ul li a {
	padding: 15px 15px;
}
.hs_sub_comment_div > .hs_sub_comment:before {
	left: 25px;
}
.hs_contact_social > .hs_profile_social > ul > li > a {
	padding: 8px 10px;
}
.hs_contact_detail p {
	width: 100%;
	margin-bottom: 20px;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.hc_fixed_header .hs_menu li > a {
	margin: 2px 0px 0px 0px !important;
}
.hc_fixed_header .hs_nav_toggle {
	position: absolute;
	top: -64px;
	right: 0px;
	width: 80px;
	float: left;
}
.hc_fixed_header .hs_social {
	display: none;
}
.hc_fixed_header nav {
	display: inherit !important;
}
#layerslider > div > div > div > input {
	height: 16px;
	width: auto;
}
#hs_footer .hs_footer_content .hs_footer_menu ul li {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
#hs_footer .hs_footer_content .hs_footer_menu ul li a {
	text-align: left;
	padding-left: 20px;
}
.hs_search_box {
	top: 20px;
	padding-right: 30px;
}
#layerslider > div > div > div > select {
	height: 16px;
	width: auto;
}
.hs_social {
	width: auto;
}
.hs_social ul {
	margin: 7px auto;
}
#hs_header nav {
	float: none;
	border-left: none;
	border-right: none;
}
#hs_header .hs_menu {
	float: left;
	width: 100%;
}
#hs_header .hs_menu > li {
	float: none;
	width: 100%;
	text-align: left;
}
#hs_header .hs_menu li > a {
	margin: 5px 0px 5px 0px;
	width: 100%;
}
#hs_header .hs_menu li:hover a {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
#hs_header .hs_menu li > ul {
	width: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: 500;
}
#hs_header .hs_menu li:hover > ul {
	visibility: visible;
	opacity: 1;
	position: relative;
}
#hs_header .hs_menu li > ul li {
	position: relative;
	height: auto;
	z-index: 550;
}
#hs_header .hs_menu li > ul li a {
	width: 100%;
}
#hs_header .hs_menu li > ul {
	margin-top: 0px;
}
#hs_header .hs_menu li > ul li > ul {
	left: 0;
	margin-left: 0px;
	visibility: hidden;
	opacity: 0;
	z-index: 520;
}
#hs_header .hs_menu li > ul li:hover > ul {
	visibility: visible;
	opacity: 1;
	position: relative;
}
#hs_header .hs_menu li > ul li > ul > li a {
	color: #FFF !important;
}
#hs_header .hs_menu li > ul li > ul > li:hover a {
	color: #CCC !important;
}
#hs_header .hs_menu li > ul li > ul > li {
	background: #1CD59F;
}
#hs_header .hs_menu li > ul li > ul > li:hover {
	background: #ed1d1d;
}
#hs_header .hs_menu li > ul i {
	display: none;
}
.hs_sub_comment_div > .hs_sub_comment:before {
	height: 50%;
}
.hs_comment img {
	margin-bottom: 20px;
}
.hs_contact ul li {
	padding-top: 25px;
	padding-bottom: 25px;
}
.hs_contact_detail p {
	width: 100%;
	margin-bottom: 20px;
}
.hs_footer_content .hs_social {
	float: none;
}
#hs_header .hs_menu li > ul > li > ul > li:first-child {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}
.hs_slide2_div > .hs_slider_form {
	width: 100%;
}
.hs_slide2_div > .hs_slider_form > .form-group {
	float: left;
	width: 40%;
	margin-right: 10px;
}
.hs_slide2_div > .hs_slider_form > .form-group select {
	height: 4vw;
}
.hs_slide2_div > .hs_slider_form > .form-group input {
	height: 4vw;
}
.hs_slide2_img_div img {
	display: none;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	width: auto !important;
	max-width: none !important;
}
.carousel-caption {
	padding-top: 30% !important;
}
.hs_appointment_form_div {
	padding-bottom: 30px;
}
.hs_appointment_form_div > img {
	opacity: 0;
}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
#layerslider > div > div > div > input {
	height: 10px;
	width: auto;
}
#layerslider > div > div > div > select {
	height: 10px;
	width: auto;
}
.hs_social {
	position: relative;
	right: 0;
}
.hs_social ul {
}
.hs_sub_comment_div > .hs_sub_comment:before {
	height: 50%;
}
.hs_comment .hs_comment_date ul li a {
	padding: 0px 5px;
}
.hs_contact_detail p {
	width: 100%;
	margin-bottom: 20px;
}
.panel-body {
	padding: 15px !important;
}
.nav-tabs>li {
	width: 100% !important;
}
.nav-tabs>li>a {
	margin-right: 0px !important;
}
.hs_slide2_div > .hs_slider_form {
	display: none;
}
.hs_slide2_div a {
	display: block;
}
.carousel-caption {
	padding-top: 40% !important;
}



}
