@charset "utf-8";
/* CSS Document */

a{
	color: #369;
	text-decoration: none;
}

a:hover{
	color: #E17919;
}

body{
	margin: 0px;
	background-color: #dddcdc;
}

body, input, select{
	font-size: 11px;
	font-family: "Lucida Sans Unicode";
}

img{
	border: 0px;
}

#cuerpo{
	margin: auto;
	width: 700px;
	padding: 20px 20px 20px 20px;
	background-color: #dddcdc;
}

h1{
	font-size:1.2em;
	color: #E17919;
}

h2{
	font-size:1.0em;
	color: #6FA7D1;
}

h1, h2, p{
	margin: 0px 0px 20px 0px;
}





table.formulario{
	margin: 0px auto 20px auto;
}

table.formulario td, table.formulario th{
	padding: 6px;
	vertical-align: top;
}

table.formulario thead th{
	font-weight: normal;
	color: #6FA7D1;
	vertical-align: top;
}

table.formulario tfoot td{
	text-align: right;
	vertical-align: top;
}







table.lista{
	margin: 0px auto 20px auto;
	border-collapse: collapse;
}

table.lista td, table.lista th{
	padding: 6px;
	vertical-align: top;
}

table.lista thead th{
	font-weight: normal;
	color: white;
	text-align: left;
	border-bottom: 1px solid #DDECF7;
}

table.lista tbody tr{
	border-bottom: 1px solid #ddd;
}

table.lista tfoot td{
	text-align: center;
	color: #6FA7D1;
	vertical-align: top;
}

table.lista strong, table.formulario strong{
	color: #6FA7D1;
	font-weight: normal;
}

table.contenedor{
	margin: 0px 0px 20px 0px;
	border-collapse: collapse;
}

table.contenedor>td, table.contenedor>th{
	padding: 0px;
	margin: 0px;
}

table.contenedor td{
	vertical-align: top;
}

.over{
	background-color: #DDECF7;
	color: #E17009;
}

label.error{
	color: #900;
	margin: 0px 0px 0px 10px;
}