/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-may-2015, 9:01:04
    Author     : MARCO
*/
body,html {
    background: rgba(0,0,0,0.2);
    font-family: Arial;
    font-size: x-small;
    margin:0px 0px;
    padding: 0px 0px;
}
#leteral{
    width: 0%;
}
#noPrint{
    width: 0px;
    height: 0px;
    margin:0px 0px;
    padding: 0px 0px;
    display: none;
}
#noMostrar{
    width: 0px;
    height: 0px;
    margin:0px 0px;
    padding: 0px 0px;
    display: none;
}


#hoja{
    background: white;
    width: 100%;
    height: 100%;
    margin: 0px auto; 
    padding: 0px 0px;
}
#form{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    padding-top: 0.5%;
    font-size:  x-small;
    margin: 0px 0px;
    
}
#print{
    font-size: x-small;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px 0px;
}
#div-tabla {
    font-size:  11;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px 0px;
}
#firma{
    width:100%;
    height:7%;
    font-size:  x-small;
    display: block;
}
img{
    width: 120px;
    height: 50px;
}

.saltoBefore{
    page-break-before: always;
    display: block;
}

#grafica{
    padding: 10px 10px;
    margin:0px auto;
    border: 1px solid;
    width: 85%;
    height: auto;
    font-size:  11;
}

.flot-chart {
  display: block;
  height: 200px;
   width: 50%;
    height: 50%;
}